/*Options*/

$Montserrat: 'Montserrat', sans-serif;
$Dancing: 'Dancing Script', cursive;
$Cinzel: 'Cinzel', serif;
$Satisfy: 'Satisfy', cursive;


/*General */

*, *::before, *::after {
    box-sizing: border-box;
}

.body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Splash */

.splash {
  background-image: url(https://i.postimg.cc/FRnNV0w8/art-black-and-white-bulbs-1263221.jpg);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}

.splash-inner {
  color: white;
  margin: 250px 200px 200px 200px;
}

.splash-inner h1 {
    margin: 0;
    font-size: 60px;
    text-align: center;
    font-family: $Montserrat;
    font-weight:900;
    color: #bdc3c7;
}

.splash-inner h2 {
    max-width: 100%;
    font-size: 35px;
    text-align: center;
    font-family: $Dancing;
    padding-bottom: 5px;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 50px 0 0 330px;
    padding: 16px;
    font-family: 'Cinzel', serif;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 0px;
    border-style: solid;
    background-color: #f6b93b;
}

.btn-one {
    border-color: none;
    color: white;
    font-family: $Montserrat;
}

/*Navigation*/

nav ul {
  padding: 0;
  list-style-type: none;
  position: absolute;
  right: 60px;
  top: 30px;
}

nav {
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav a {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: $Montserrat;
}

nav h2 {
  color: #f6b93b;
  font-family: $Dancing;
  font-size: 50px;
  position: absolute;
}
